.jumbocolor, .term {
  background: #A4DCD1;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.term {
  display: inline-block;
  width:300px;
  margin:10px;
  padding:15px;
  border-radius: 10px;
}

.terms {
  text-align: center;
}

.verbage {
  padding-top: 15px;
}

.title {
  padding-bottom: .3em;
}

.name {
  color: #A4DCD1;
  font-size: 40px;
}

body {
  background:url('../pattern.png');
}
@font-face {
  font-family:"DOS";
  src: url(../fonts/dos.ttf) format('truetype');
}
.code {
  padding-bottom:10px;
  font-family:DOS;
  font-size: 1em;
  white-space: pre-wrap;
  text-align: left;
  background: black;
  color:green;
  border-radius: 10px;
}

.boxpic {
  padding-top: 1em
}
ul {
  text-align: left;
  margin-left:10%;
}
.branchButton {
  background-color: #91B49C;

}
.btn {
  background-color:#DBE6E0;
}
.branch2 {
  display: none;
}
